:root {
  --main-font-color: #1b1b1b;
  --secondary-font-color: white;
  --subtitle-theme-color: #f08e3e;
  --left-box-color: #2e2e2e;
  --right-box-color: #fafafa;
}

body {
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
.all-box {
  width: 1060px;
  display: flex;
  background-color: var(--right-box-color);
  margin: 20px auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.all-contscts {
  width: 30%;
  background-color: var(--left-box-color);
  padding: 30px 20px 0 30px;
  color: var(--secondary-font-color);
}
.all-contacts-main-text {
  color: var(--subtitle-theme-color);
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 700;

  letter-spacing: 0.08em;
  border-bottom: 1px solid var(--subtitle-theme-color);
}
.contacts img {
  width: 170px;
  height: 170px;
  margin: 20px 0 20px 15%;
  border-radius: 100px;
  /* border: 3px solid rgb(176, 177, 176); */
  box-shadow: 0 0 7px rgb(165, 163, 163);
}
.contacts {
  /* font-style: normal; */
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--secondary-font-color);
  margin-bottom: 40px;
}
.contacts-box {
  display: flex;
  margin-bottom: 12px;
}
.contacts h3 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 0px;
  margin: 20px 0 30px 0;
}
.contacts-info {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.contacts-info a:hover {
  color: var(--subtitle-theme-color);
}

.all-contacts-secondary-text,
.lenguage-secondary-text {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 9px;
}
.all-contacts-secondary-text:last-child {
  margin-bottom: 30px;
}

.svg {
  fill: var(--subtitle-theme-color);
  margin-right: 15px;
}
.svg-level-point {
  fill: var(--subtitle-theme-color);
  /* align-items: center; */
  margin-left: 4px;
}
.svg-level-point3 {
  fill: var(--subtitle-theme-color);
  /* align-items: center; */
  margin-left: -12px;
}
.all-contacts-secondary-text :first-child {
  margin-left: 20px;
}
.lenguage-secondary-text :first-child {
  margin-left: 20px;
}

.skils {
  width: 80%;
  padding: 30px;

  color: var(--main-font-color);
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.9;
}

.skils h1 {
  font-size: 24px;
  color: var(--main-font-color);
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.9;
}

.anotation {
  width: 80%%;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid var(--subtitle-theme-color);
}
.anotation p {
  width: 100%;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  /* opacity: 0.7; */
}

.experience {
  width: 100%;
  border-bottom: 1px solid var(--subtitle-theme-color);
  margin-right: 0;
  padding-right: 0;
}
.experience h3 {
  font-size: 18px;
}
.experience h4,
h5 {
  font-size: 16px;
  opacity: 0.9;
  margin: 0;
}
.experience h5 {
  opacity: 0.7;
}
